# Permet de définir l'url du site (utile pour astro ou même le fichier robots.txt)
PUBLIC_SITE_URL=http://localhost:4321

# Permet d'afficher les articles de blog qui comporte `draft: true` dans leur frontmatter (utile en développement)
SHOW_DRAFTS=true