<section
    class="lg:py-24 py-12 bg-surface-light/40 border-t border-border-light"
    id="contact">
    <div class="max-w-[1200px] mx-auto px-6 text-center">
        <h2
            class="text-4xl font-bold mb-6 tracking-tight text-charcoal">Prêt
            à discuter <span
                class="text-primary">Infrastructure</span> ?</h2>
        <p class="text-charcoal/60 mb-12 max-w-2xl mx-auto">
            Je suis toujours ouvert aux opportunités de
            collaboration, aux projets innovants ou simplement pour
            discuter de tech.
        </p>
        <div class="flex flex-wrap justify-center gap-6">
            <a
                class="flex items-center gap-3 bg-white border border-border-light px-6 py-3 rounded-lg hover:border-primary transition-colors shadow-sm text-charcoal font-medium"
                href="mailto:teo.franoux@epitech.eu">
                <span
                    class="material-symbols-outlined text-primary">mail</span>
                teo.franoux@epitech.eu
            </a>
            <a
                class="flex items-center gap-3 bg-white border border-border-light px-6 py-3 rounded-lg hover:border-primary transition-colors shadow-sm text-charcoal font-medium"
                href="https://www.linkedin.com/in/téo-franoux" target="_blank">
                <img src="/images/linkedin.svg" class="w-6"></img>
                LinkedIn Profile
            </a>
            <a
                class="flex items-center gap-3 bg-white border border-border-light px-6 py-3 rounded-lg hover:border-primary transition-colors shadow-sm text-charcoal font-medium"
                href="tel:+33674988581">
                <span
                    class="material-symbols-outlined text-primary">call</span>
                +33 6 74 98 85 81
            </a>
        </div>
    </div>
</section>